.row
  .twocol
  #sidebar.threecol
    .copy
      %p
        For too long people have sat on the sidelines as their communites have changed,
        often for the worst, around them.

      %p
        At Code for America we want to help build the bridge between the desire
        within a community and the resources at their governments disposal.

      %p
        We won't end hunger, we can't create world peace.
        But we can, with enough interested individuals like you, work to create
        safer, happier, and more prosperous communites throughout our country.

      %p
        We want to spend the next year working hard to build the technologies
        that can enable you to and your community to thrive but to do that
        we need to understand what challenges you face, the strengths of your community
        and your ideas on how we can help.

      %p
        Please, join us today.

  #main.fivecol
    = render 'form'


  .twocol.last
