.row
  .twocol
  .fivecol
  #sidebar.threecol
    .leader
      BE HEARD

    .copy
      %p
        Join the movement to change our communities for the better.
      %p
        Code for America wants to work with local, concerned citizens to create apps that will help...
    = render :partial => 'ideas/form'
  .twocol.last
